/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    /* overflow: hidden; */
    font-family: "Poppins";
}

h1,h2,h3,h4,h5 p {
    margin: 0;
}

.main-container-airbnb {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    border: 1px solid rgb(233, 233, 233);

    & header {
        padding: 1.5em;
        box-shadow: 0 0 10px #c9c9c9;
    
        & .airbnb-logo {
            width: 20vw;
        }
    }

    & main {
        padding: 1.5em 2em;

        & .grid-photo {
            display: block;
            margin: 0 auto;
            width: 80%;
        }

        & h1 {
            font-weight: 700;
            margin: 1em 0 0.2em 0;
            font-size: 5vw;
        }

        & p {
            width: 85%;
            line-height: 1.4em;
            font-size: 3.5vw;
            margin: 0;
        }
    }
}

.cards {
    padding: 0 2em;
    display: flex;
    gap: 1.5em;
    overflow: scroll;
    margin-bottom: 2em;
}

.card {
    position: relative;

    & .badge {
        position: absolute;
        top: 1em;
        left: 1em;
        background-color: white;
        color: #222222;
        font-size: 2.04vw;
        font-weight: 500;
        padding: 0.2em 0.5em;
        border-radius: 2px;
    }

    & .photo {
        display: block;
        border-radius: 1em;
        margin-bottom: 0.5em;
        width: 33.64vw;
    }

    & h4 {
        font-weight: 400;
        padding: 0.1em 0.5em;
        font-size: 2.09vw;

        & .star {
            width: 2.09vw;
            margin-right: 0.5em;
        }

        & .light {
            color: #918e9b;
        }

        & .bold {
            font-weight: bold;
        }
    }
}


@media (min-width:550px) {


    .main-container-airbnb {

        & header {

            & .airbnb-logo {
                width: 110px;
            }
        }

        & main {

            & h1 {
                font-size: 27.5px;
            }

            & p {
                font-size: 19.25px;
            }
        }
    }

    .card {

        & .badge {
            font-size: 11.2px;
        }

        & .photo {
            width: 185px;
        }

        & h4 {
            font-size: 11.52px;

            & .star {
                width: 11.52px;
            }
        }
    }
}